.card {
  max-width: 400px;
  margin: auto;
  margin-bottom: 20px;
  text-decoration: none; /* Remove default underline from Link */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  border-radius: 8px;
}

.card:hover {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}
